[Unit]
Description=Balance Tracker Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/baltracker
ExecStopPost=/bin/sleep 10
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
